<div class="container">
        <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert" *ngIf="!profile.profile_pic">
            <strong>Update your profile with your details!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
        <div class="row d-flex justify-content-center">
                <div class="card mt-4 mb-4">
                <img class="card-img-top" *ngIf="!profile.profile_pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" height="500" width="500">
                <img class="card-img-top" *ngIf="profile.profile_pic" src="https://institutemanagement.onrender.com{{profile.profile_pic}}" alt="Card image cap"  height="500" width="500">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text" *ngIf="profile.user">Name - {{profile.user}}</p>
                  <p class="card-text" *ngIf="profile.role">Role - {{profile.role}}</p>
                  <p class="card-text" *ngIf="profile.qualification">Qualification - {{profile.qualification}}</p>
                  <p class="card-text" *ngIf="profile.phone_number">Phone Number - {{profile.phone_number}}</p>
                  <a routerLink="/staff/my-profile-edit" class="btn btn-outline-dark">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>