<!-- <div class="container">
    <div class="text-center justify-content-center mt-4 pt-4">
        <h2 class="font-weight-normal" >No Students Added Yet</h2>
    </div>
</div> -->
<div class="container">
    <div class="d-flex justify-content-between mt-3">
        <h2 class="font-weight-light">BATCH DETAILS :</h2>     
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mt-4">
                <h4 class="card-header font-weight-bolder" style="background-color: bisque;">{{data}}</h4>
                <div class="card-body">
                  <!-- <h5 class="card-title font-weight-normal mb-4">Instructor : {{batch_teacher}}</h5> -->
                    <table class="table table-striped table-border table-bordered">
                        <thead>
                        <tr class="table-secondary text-center">
                            <th scope="col">#</th>
                            <th scope="col">Student Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let i of class_data;  let num = index" class="text-center" style="background-color:aliceblue;">
                            <th scope="row" class="pt-3" style="width: 200px;">{{num+1}}</th>
                            <td class="pt-3" style="width: 200px;">{{i.student}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-12">
            <div class="card mt-4">
                <h4 class="card-header font-weight-bolder" style="background-color: bisque;">Post Assignment</h4>
                    <div class="container">
                        <br>
                        <ul class="list-group list-group-flush mb-4" *ngFor="let i of assignments">
                            <li class="list-group-item mt-1 pb-1 mb-1 border d-flex justify-content-between font-weight-bolder" style="background-color:aliceblue;">{{i.topic}}
                                <p><i class="fa fa-eye text-info" id="{{i.id}}" (click)="viewAssignment($event)"></i></p>
                                <p><i class="fa fa-trash text-danger" id="{{i.id}}" (click)="deleteAssignment($event)"></i></p> 
                            </li>
                        </ul>
                    </div>
                    <hr>
                <div class="card-body">
                  <!-- <h5 class="card-title font-weight-normal mb-4">Instructor : {{batch_teacher}}</h5> -->
                    <form action="" [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
                        <label>Topic :</label>

                        <input type="text" class="form-control mt-2" name="topic" formControlName="topic"> <br>
                     
                        <button type="submit" class="btn btn-outline-dark">Post</button>
                    </form>
                </div>
            </div>
        </div><div class="col-12">
            <div class="card mt-4">
                <h4 class="card-header font-weight-bolder" style="background-color: bisque;">Post Recorded Class</h4>
                <div class="container">
                    <div class="row mt-4" *ngFor="let j of videos">
                      <div class="col-md-6">
                        <video width="100%" height="auto" controls>
                          <source src="{{j.video}}" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                      </div>
                      <div class="col-md-6 d-flex">
                        <h5 class="align-self-center">{{data}} | {{j.date_created}}</h5>
                      </div>
                    </div>
                  </div>                         
                <hr>
                <div class="card-body">
                  <!-- <h5 class="card-title font-weight-normal mb-4">Instructor : {{batch_teacher}}</h5> -->
                    <form action="" [formGroup]="videoForm" (ngSubmit)="Submit()" enctype="multipart/form-data">
                        <label>Video :</label> <br>

                        <input type="file" name="video" formControlName="video" class="mt-1" (change)="onFileChange($event)"> <br>
                     
                        <button type="submit" class="btn btn-outline-dark mt-4">Send</button>
                    </form>
                </div>
            </div>
        </div>

        
    </div>
</div>