<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-7 col-lg-5 col-md-7 col-sm-9 mt-4 pt-4">
                <div class="text-center my-4">
                    <!-- <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100"> -->
                </div> 
                <div class="card shadow-lg">
                    <div class="card-body pl-5 pr-5 pt-4 pb-4">
                        <h1 class="fs-4 card-title fw-bold mb-4">Edit Profile</h1>
                        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                            <div class="mb-2">
                                <label class="mb-2 text-muted" for="name">Qualification</label>
                                <input formControlName="qualification" id="qualification" type="text" class="form-control" name="qualification" value="{{data.qualification}}" placeholder="Qualification" required>
                            </div>

                            <div class="mb-2">
                                <label class="mb-2 text-muted" for="name">Role</label>
                                <input formControlName="role" id="role" type="text" class="form-control" name="role" value="{{data.role}}" placeholder="Role" required>
                            </div>

                            <div class="mb-2">
                                <label class="mb-2 text-muted" for="name">Phone Number</label>
                                <input type="text" formControlName="phone_number" class="form-control"  name="phone_number" value="{{data.phone_number}}" placeholder="Phone Number">
                            </div>

                            <div class="mb-2">
                                <label class="mb-2 text-muted" for="name">Profile Pic</label> <br>
                                <input type="file" name="profile_pic" formControlName="profile_pic" (change)="onFileChange($event)">
                                <p *ngIf="data.profile_pic">{{data.profile_pic}} <i class="fa fa-check"></i></p>
                            </div>

                            <div class="align-items-center d-flex">
                                <button type="submit" class="btn btn-primary ms-auto mt-1">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


