<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5 mt-5 pt-5">
                    <!-- <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100"> -->
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="mb-3">
                                <label class="mb-2 text-muted">Username</label>
                                <input formControlName="username" id="username" type="text" class="form-control" name="text" placeholder="Username" required autofocus>
                                <div *ngIf="loginForm.get('username')?.errors && loginForm.get('username')?.touched" class="alert alert-danger mt-2">
                                    Invalid Username
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="w-100">
                                    <label class="text-muted">Password</label>
                                </div>
                                <input formControlName="password" id="password" type="password" class="form-control" name="password" placeholder="Password" required>
                                <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger mt-2">
                                    Invalid Password
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-primary ms-auto btn-block mt-2">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center mt-5 text-muted">
                    Copyright &copy; 2022-2023 &mdash; ABC Institute
                </div>
            </div>
        </div>
    </div>
</section>