<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card mt-4 mb-4">
            <img class="card-img-top" *ngIf="!student.profile_pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" height="500" width="500">
            <img class="card-img-top" *ngIf="student.profile_pic" src="https://institutemanagement.onrender.com{{student.profile_pic}}" alt="Card image cap"  height="500" width="500">
            <div class="card-body">
              <h5 class="card-title">{{student.user}}</h5>
              <p class="card-text">Dob - {{student.dob}}</p>
              <p class="card-text">Qualification - {{student.qualification}}</p>
              <p class="card-text">Course - {{student.course}}</p>
              <form action="" [formGroup]="assignCourseForm" (submit)="onSubmit()" *ngIf="!student.course">
                <label>Select Course -</label>
                <select name="course" class="form-control" formControlName="course">
                    <option value="" selected>Courses</option>
                    <option value="{{i.course_name}}" *ngFor="let i of courses">{{i.course_name}}</option>
                </select>
                <button type="submit" class="btn btn-primary mt-3">Add Course</button>
              </form>
              <form action="" [formGroup]="assignBatchForm" (submit)="batchSubmit()">
                <label>Select Batch -</label>
                <select name="batch" class="form-control" formControlName="batch">
                    <option value="" selected>Batches</option>
                    <option value="{{i.id}}" *ngFor="let i of batches">{{i.batch_name}}</option>
                </select>
                <button type="submit" class="btn btn-primary mt-3">Add to Batch</button>
              </form>
            </div>
        </div>
    </div>
</div>